<!DOCTYPE html>
<html>

<head>
  <script src="https://unpkg.com/@simplewebauthn/browser/dist/bundle/index.umd.min.js"></script>
</head>

<body>
  <h1>Passkey Autofill Example: Registration</h1>
  <label for="username">Username:</label><br>
  <input type="text" id="username"><br>
  <button type="submit" id="register" onclick="register()">Register</button>
  <p id="message"></p>
  <a href="/login">Already registered? Login Page</a>
</body>

<script>
  async function register() {
    const elemMsg = document.getElementById('message');
    const { startRegistration } = SimpleWebAuthnBrowser;
    const resp = await fetch('/attestation/options', {
      method: 'POST',
      credentials: 'same-origin',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        username: username.value
      })
    });
    let attResp;
    try {
      const opts = await resp.json();
      attResp = await startRegistration({ optionsJSON: opts.publicKey });
    } catch (error) {
      throw error;
    }
    const verificationResp = await fetch('/attestation/result', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(attResp),
    });
    const verificationJSON = await verificationResp.json();
    if (verificationJSON && verificationJSON.status === 'ok') {
      elemMsg.innerText = 'Successfully registered!';
    } else {
      elemMsg.innerText = 'Error: ' + verificationJSON.errorMessage;
    }
  }
</script>

</html>