<!DOCTYPE html>
<html>

<head>
  <script src="https://unpkg.com/@simplewebauthn/browser/dist/bundle/index.umd.min.js"></script>
</head>

<body>
  <h1>Passkey Autofill Example: Sign-in</h1>
  <label for="username">Username:</label><br>
  <input name="username" id="loginform.username" autocomplete="username webauthn"><br>
  <p id="message"></p>
  <script>
    (
      async () => {
        // Check if PublicKeyCredential is supported in the current browser
        if (typeof PublicKeyCredential === 'undefined') {
          console.log("PublicKeyCredential is not supported in this browser.");
        }
        // Check if getClientCapabilities method exists on PublicKeyCredential
        if (typeof PublicKeyCredential.getClientCapabilities === 'function') {
          let capabilities;
          try {
            capabilities = await PublicKeyCredential.getClientCapabilities();
            console.log(capabilities);
          } catch (error) {
            console.error('Error getting client capabilities:', error);
          }
          if (!capabilities.relatedOrigins) {
            console.log('Related Origin Requests (ROR) is not supported in this browser');
          }
        } else {
          console.log('getClientCapabilities is not supported in this browser');
        }
        const { startAuthentication } = SimpleWebAuthnBrowser;
        const elemMsg = document.getElementById('message');
        const resp = await fetch('/assertion/options', {
          method: 'POST',
          credentials: 'same-origin',
          headers: {
            'Content-Type': 'application/json'
          }
        });
        const opts = await resp.json();
        let asseResp;
        try {
          asseResp = await startAuthentication({ optionsJSON: opts.publicKey, useBrowserAutofill: true });
        } catch (error) {
          throw error;
        }
        const verificationResp = await fetch('/assertion/result', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(asseResp),
        });
        const verificationJSON = await verificationResp.json();
        if (verificationJSON && verificationJSON.status === 'ok') {
          elemMsg.innerText = 'Successfully authenticated!';
        } else {
          elemMsg.innerText = 'Error: ' + verificationJSON.errorMessage;
        }
      }
    )().catch(err => console.log(err));
  </script>
</body>

</html>